body {
background: linear-gradient(90deg, #000428, #004d91);
height: 100vh;
}

.form-wrapper {
    width: 100%;
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px 0px;
}

#form {
    width: 50%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: auto;
}


#searchInput {
    width: 100%;
    padding: 10px;
    /* border-radius: 60px; */
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #3c557a;
    display: block;
    margin: 0 auto;
    color: grey;
    outline: none;
}

::placeholder {
    color: grey;
}

#searchButton {
    width: 50px;
    border-radius: 50%;
    border: none;
    padding: 10px;
    background: linear-gradient(180deg, #1eaca5, #83eac8);
    color: #ffffff;
    position: relative;
}

.hide{
    display: none;
}

#clearButton {
    width: 50px;
    border-radius: 50%;
    border: none;
    padding: 10px;
    /* padding-bottom: 15px; */
    background-color: #af0e0e;
    color: #f8f4f1;
    /* box-shadow: 1px 3px 5px lightgrey; */
    /* position: absolute;
    right: 0; */
    text-align: center;
    justify-content: center;
}

.imagelist-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.imagelist-wrapper > .card{
    margin:20px;
    border-radius: 35px;
}

img {
    border-radius: 35px;
    width: 350px;
    height: 400px;
}



/* mobile responsiveness */

@media (max-width:768px) {

    img {
        border-radius: 25px;
        width: 200px;
        height: 250px;
    }
    .imagelist-wrapper > .card{
        border-radius: 25px;
    }

    #clearButton {
        width: 50px;
        border-radius: 50px;
        padding: 10px;
        /* padding-bottom: 11px;
        font-weight: 600; */
    }
}

@media (max-width:480px) {


    img {
        border-radius: 25px;
        width: 150px;
        height: 150px;
    }

    .imagelist-wrapper > .card{
        border-radius: 25px;
    }

    #clearButton {
        width: 50px;
        border-radius: 50px;
        padding: 10px;
        /* padding-bottom: 9px;
        font-weight: 600; */
    }

}